 * {
        padding: 0;
        margin: 0;
        list-style: none;
      }
body{
    font-family: inter, sans-serif;
    background: var(--bckg);
}
a{
    text-decoration: none;
    /* color: #1C181D; */
}
img{
    display: block;
    /* max-width: 100%; */
}
:root{
    --wht : #fff;
    --focus : #005BD3;
    --bckg: #F1F1F1;
    --press: #F0F0F0;
    --hover: #F7F7F7;
    --s200: #FFFFFF;
    --s100: hsl(0, 0%, 0%, 0.7);
    --s50: #EBEBEB;
    --dark: #475467;
    --mid: #616161;
    --c300: #1C181D;
    --c200: #322F33;
    --c100: #616161;
    --c50: #656266;
    --light: #E3E3E3;
}
.flex{
    display: flex;
    align-items: center;
}
.space_bwt{
justify-content: space-between;
}
.head{
    background: var(--c300);
    color: var(--wht);
    justify-content: space-between;
    padding: 0 1rem;
    height: 60px;
}
.logo img{
    width: 30px;
}
.logo i{
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--wht);
}
.search{
    width: 70%;
    max-width: 30rem;
    border-radius: 3px;  
    border: 1px solid var(--c100);
    background:var(--c200) ;
    /* width: 25rem; */
    border-radius: .3rem;
}
 /* .search :hover{
    border: 1px solid var(--light);
} */
.search input{
    width: 100%;
  padding: .7em;
border: none;
color:var(--light);
background: transparent;
font-size: .8rem;
background: none;
/* width: 25rem; */
outline: none;
}
.search img{
width: 1rem;
margin-left: .7em;
}
.user_tag .bell{
    width: 1.3rem;
    padding: .4rem;
     border-radius: .4rem;
    background: var(--c200);
    margin-right: .7rem;
}
.user_tag :hover{
    background: var(--c50);
  
}
.acct :hover{
    background: var(--c50);
    border-radius: .4rem;
}
.acct{
  font-size: .9rem;
    background: var(--c200);
    border-radius: .4rem;
}

.acct_name{
   margin-right: .5rem;
    padding: .5rem;
    color: var(--light);
}
.acct_icon{
    background: #36FBA1 !important;
    padding: .4rem;
    border-radius: .5rem;
    height: 100%;
    color: var(--c300);
}
.inner{
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
    flex-direction: column;
}
.inner_info{
    width: 65%;
}
.plan_notifi {
    margin-bottom: 1rem;
    padding: 1rem 1rem;
    background: var(--c300);
    color: var(--light);
    justify-content: space-between;
    border-radius: .5rem;
    flex-wrap: wrap;
}
.select_notifi a{
    color: var(--c300);
    background: var(--wht);
    padding: .5rem .8rem;
    border-radius: .5rem;
    margin-right: 1rem;
}
.select_notifi img{
width: 1.5rem;
}
.guide_setup{
    padding: .7rem .7rem;
    background: var(--wht);
    border-radius: 1rem;
    border: 1px solid #d3d3d3;
}
.guide_setup p{
    margin-bottom: 1rem;
}
.setup_head {
    margin-bottom: .6rem;
}
.setup_head img{
width: 1.5rem;
}
.guide_no{
    margin-right: 1em;
}
.guide_track{
    width: 100px;
    height: 5px;
    display: inline-block;
    border-radius: 5px;
    background-color: var(--light);
    overflow: hidden;
    position: relative;
}
.guide_trk_inner{
    width: 20%;
    height: 100%;
    display:block;
    background-color:var(--c300) ;
    transition: width 500ms;
}
.setup_step{
    background: var(--light);
    align-items: flex-start;
    margin-top: 1.5rem;
}
.tick{
    align-items: flex-start;
}

/* MEDIA QUERY */
@media(max-width:1000px){
.inner_info {
    width: 75%;
}
}
@media(max-width:805px){
    .inner_info {
        width: 85%;
    }
    }
@media(max-width: 750px){
.logo img {
    width: 25px;
}
}
@media(max-width:700px){
    .inner_info {
        width: 90%;
    }
    }
@media(max-width: 620px){
    .logo img {
        width: 25px;
    }
    .select_notifi{
        width: 100%;
        margin-top: 1rem;
        justify-content: space-between;
    }
    }
    @media(max-width: 550px){
        .logo i{
          display: none;
        }
    }
    @media(max-width: 500px){
        .logo{
            margin-right: .5rem ;
        }
        .inner_info {
            width: 100%;
        }
.plan_notifi, .guide_setup{
    border-radius: 0rem;
}
      .acct .acct_name{
          display: none;
      }
      .user_tag .bell{
        width: 1.3rem;
        padding: .4rem;
         border-radius: .4rem;
        background: none;
      }
    }
    @media(max-width: 420px){
        .head{
            height: 50px;
        }
        .acct_icon{
        padding: .3rem;
    }
    .search input{
        padding: .4em;
    }
    .search img{
        width: .8rem;
    }
}
@media(max-width: 380px){
    .acct_icon{
        font-size: .8rem;
    }
}
